<div class="text-center">
    <h1>Well done!</h1>
    <p>You created your account.</p>
</div>


<a href="@Url.Action("Login", "MyAccount")" class="btn btn-primary button-myaccount-position ">Log in</a>